<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Ace in the Hole Multisport Event</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/helper.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <nav class="header">
        <a href="#" class="logo"><img src="images/AITHME_red_and_black_on_transparent_Impact.png" alt="Ace In The Hole Logo"></a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="#">Event Information</a></li>
            <li><a href="#">Registration</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
    
    <header>
        <!-- Hero Image Goes Here -->
    </header>
    <section id="grid" class="section group">
        <main class="col span_8_of_12">
            <article>
            <!-- Main Text Goes Here -->
                <h1>Leopard</h1>
                <h2>American shorthair singapura persian scottish fold</h2>
                <p>Abyssinian egyptian mau but havana brown munchkin burmese. Siberian birman devonshire rex so malkin. Scottish fold. Birman puma. Singapura jaguar turkish angora ocicat for tiger lion, persian. Lion panther. Norwegian forest russian blue but tabby balinese . Sphynx malkin so bengal and ocicat, yet devonshire rex so cougar cheetah. Munchkin jaguar yet jaguar and kitten, turkish angora. Persian balinese for birman but bombay or cheetah but turkish angora malkin.</p>
            </article>
            <article>
            <!-- Pic Gallery or Form Goes Here -->
                <h2>Kitten savannah tabby</h2>
                <h3>Cornish rex havana brown abyssinian</h3>
                <p>Lion british shorthair bengal yet leopard and kitty havana brown. Kitty scottish fold and tabby cheetah. Leopard balinese cornish rex but maine coon, for lion. Tiger lion so manx for savannah tom. Tom bengal ocelot.</p>
            </article>
        </main>
        <aside class="col span_4_of_12">
         <!-- Weather and Social Media go here -->
            <div id="weather">
                <p>Weather app goes here.</p>
            </div>
            <div id="social media">
                <p>Social Media goes here.</p>
            </div>
            <div style="clear: both;"></div>
        </aside>
    </section>
    
    <footer>
        <section class="group section">
            <div class="col span_6_of_12">
                <a href="https://www.facebook.com/Cas222Aceinthehole-110661963841617/"><img src="images/facebook.svg" alt="Facebook Page"></a>
            </div>
            <div class="col span_6_of_12">
                <a href="https://twitter.com/pcccas222?lang=en"><img src="images/twitter.svg" alt="Twitter Page"></a>
            </div>
        </section>
        <p class="copyright">Designed by Russell Callison Designs,&copy 2020</p>
    </footer>
    
</body>
</html>